*
{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    
   
    background-position: center 60px;

}
header
{
    display: flex;
    position: fixed;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 100%;
    min-height: 65px;
    overflow: hidden;
    
    justify-content: space-around;
    align-items: center;
    background: #111;



}
a
{
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin: 5px 15px 5px 5px;
}
.logo
{
    display: flex;
    margin-left: 50px;
    align-items: left;
    justify-content: center;

}

ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 3;
    text-align: left;
    margin-left: 50px;

}

ul li
{   
    display: flex;
    list-style: none;
    display: inline-block;
}
li
{
    display: flex;
    
  

}
.search
{
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    font-size: 12px;
    color: white;
    justify-content: center;
}
.search li
{
   
    align-items: center;
    justify-content: center;
}
ul a
{
    align:center;
}
.wallpaper
{
    background-image: url(images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
    
}
.teaser
{

    font-family: 'Krona One', sans-serif;
    padding-left: 3vw;
    width: 30vw;
    padding-top: 30vw;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
}

main
{
    
    background-color: rgb(0, 0, 0);

}
#titreSt
{
    display: flex;
    justify-content: center;
}
.imgtitre
{
    display: flex;
    flex-direction: row;
    max-width:90%;
}
#bouttons
{
    display: flex;
    justify-content: space-evenly;
}
.button1
{

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 2vh;
    padding: 0.8vw 3vw;
    border-radius: 5px;   
    display: inline-block;
    background-color: ivory;
    color :#1d1b1b;
}
.button2
{
    
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color : #fff;
    border: 0;
    margin-top: 2vh;
    padding: 0.8vw 3vw;
    border-radius: 5px;   
    display: inline-block;
    background-color:gray;
    opacity: 0.5;
}
.thumbnails
{
    align-items: flex-end;
    margin-left: 1vw;
    display: flex;
    overflow: hidden;
    
    
}

h4
{
    font-size: large;
}

.titre
{
    margin-left: 2vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 10vh;
    color: whitesmoke;
}
.imageF
{
    border-radius: 5px;
    margin: 20px 10px;
    border-radius: 3px;
    transition: 0,2s 0,2s;
}
.imageF:hover
{
    transform: scale(1.2);
}

#gradient 
{
    display: flex;
    flex-direction: row;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.096), #000000);
}

.categories
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.thumbnails2
{
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}
.titre2
{
    margin-top: 7vh;
    margin-left: 2vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}
footer
{
    padding-top: 10vh;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

footer i
{

    font-size: xx-large;
    color: gray;
    padding: 1vw;
}

.footer-block
{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    width: auto;
    min-width: 60%;


}
.feeds
{
    padding-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.cgv
{

    color: gray;
    
    
    
}
table
{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    width: 100%;
    height: 70%;
    
}
td
{
    padding: 1vw 0.5vw 0.2vw 0.5vw;
    text-align: left;
}
.bouttonS
{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-top:2vh;
    padding: 0.6vw;   
    background-color:black;
    color:gray;
    font-size: small;
    border: 1px solid gray;
    width: 10vw;
    
}

.theLastOne
{
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    color: gray;
}